body{
    background-color: rgb(247, 243, 243);
}

.noPadding{
    margin-top: 0em;
    margin-bottom: 0em;
}

.navbar-nav > li{
    padding-left: 4em;
    padding-right: 4em;

}

.navbar.navbar-expand-sm.bg-dark li a {
    color: white;
}

.navbar.navbar-expand-sm.bg-dark li ul.dropdown-menu a {
    color: black;
}
img#BremenImage{
    width: 100% 
}

mark{   
    color: darkgreen
}
hr { 
    width: 98%; 
    height: 30px; 
    margin: 0 auto;
    color: blue;
    background: #dfac20;
}
text#txt{width: 90;
    height: 70px;
    color: blue;
    margin: 10;


}