body{
    background-color: rgb(247, 243, 243);
}

.navbar-nav > li{
    padding-left: 4em;
    padding-right: 4em;
}

.navbar.navbar-expand-sm.bg-dark li a {
    color: white;
}

.navbar.navbar-expand-sm.bg-dark li ul.dropdown-menu a {
    color: black;
}
img#BremenImage{
    width: 100% 
}

mark{   
    color: darkgreen
}