body{
    background-color: rgb(247, 243, 243);
}

.noPadding{
    margin-top: 0em;
    margin-bottom: 0em;
}

.navbar-nav > li{
    padding-left: 4em;
    padding-right: 4em;
}

.navbar.navbar-expand-sm.bg-dark li a {
    color: white;
}

.navbar.navbar-expand-sm.bg-dark li ul.dropdown-menu a {
    color: black;
}
img {
    width: 100% 
}

mark{   
    color: darkgreen
}

.container{
    padding-top: 5em;
}

.card-body{
    background-color: #f0f3f0;
}
table.myTableClass{
    margin-top: 7em;     
    margin-bottom: 5em; 
}

td{
    padding-right: 5em;
}